<ng-include src="'templates/sidebar.html'"></ng-include>
<ng-include src="'templates/header.html'"></ng-include>

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 5px;">
            <div class="pull-left">
                <span style="font-size: 12px;"><a href="#/dashboard"><i class="fa fa-home"></i> Página Inicial</a> > Ajuda</span>
            </div>
        </div>
    </div>
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajuda</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <ul style="line-height: 30px;">
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/movimentacao_inicial_certidao.swf">
                                Movimentação (Iniciar Análise) - Certidão e Traslados</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/movimentacao_inicial_procuracao.swf">
                                Movimentação (Iniciar Análise) - Procuração</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/movimentacao_inicial_testamento.swf">
                                Movimentação (Iniciar Análise) - Testamento</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/movimentacao_inicial_testamento.swf">
                                Bloquear agenda - Testamento</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/alteracao_de_senha.swf">
                                Usuário - Alteração de Senha</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/cadastro_de_usuario.swf">
                                Usuários - Cadastro de novo usuário</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/alteracao_de_usuario.swf">
                                Usuários - Alteração de usuário</a>
                            </li>
                            <li><a href="https://s3-sa-east-1.amazonaws.com/cartorioapp/exclusao_de_usuario.swf">
                                Usuários - Exclusão de usuário</a>
                            </li>
                        </ul>
                        <span class="ajuda">
                            Para dúvidas/informações, envie um email para <b><a href="mailto:contato@cartorioapp.com">contato@cartorioapp.com</a></b>.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<ng-include src="'templates/footer.html'"></ng-include>